/* #  Шапка сайта */

/* Основные стили шапки */
.header {
    background: white;
    padding-top: 15px; 
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 10px; /
}

.header__container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
}

.header__content {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-bottom: 15px;
}

/* Логотип */
.header__logo {
    flex-shrink: 0;
}

.logo-img {
    height: 50px;
    display: block;
}

/* Поиск */
.header__search {
    flex-grow: 1;
    max-width: 1300px;
    position: relative;
}

.search-form {
    display: flex;
    gap: 0px;
}

.search-input {
    flex-grow: 1;
    padding: 8px 15px;
    border: 1px solid #ddd;
    border-radius: var(--radius-md);
}

.search-button {
    padding: 8px 20px;
    background: var(--primary-color);
    color: white;
    border: none;
    border-radius: var(--radius-md);
    cursor: pointer;
}

.search-results {
    display: none;
    position: absolute;
    width: 100%;
    background: white;
    box-shadow: var(--shadow);
    z-index: 100;
}

/* Пользовательские действия */
.header__user-actions {
    margin-left: auto;
    display: flex;
    gap: 8px;
    align-items: center;
}

.user-actions {
    display: flex;
    gap: 15px;
    align-items: center;
}

.login-btn, .register-btn {
    padding: 8px 16px;
    border-radius: var(--radius-md);
    transition: var(--transition);
}

.login-btn {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.register-btn {
    background: var(--primary-color);
    color: white;
}

.user-dropdown {
    position: relative;
    display: inline-block;
}

.user-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    background: none;
    border: none;
    cursor: pointer;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    background: white;
    min-width: 160px;
    box-shadow: var(--shadow);
    z-index: 1;
    border-radius: var(--radius-sm);
}

.dropdown-menu a {
    color: var(--text-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {
    background: var(--bg-lighter);
}

.user-dropdown:hover .dropdown-menu {
    display: block;
}

.admin-btn {
    padding: 8px 15px;
    background: #dc3545;
    color: white;
    border-radius: var(--radius-md);
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 10px;
}

.admin-btn:hover {
    background: #c82333;
    color: white;
}
